# Don't track the following subdirectories
/output/
/input/
/source/__pycache__/
**__pycache__**
/.idea/

/star_tool/input/
/star_tool/output/

/plotting/

/ktable/output/
/ktable/input/
/ktable/continuum/
/ktable/fastchem/
/ktable/testing/
/ktable/source_ktable/__pycache__/

poetry.lock